body{
    background-image: url("backImage.avif");
    background-size: cover;
}
.container{
    margin-top: 200px;
    
}

button{
    background-color: white;
}

.fa-regular{
    background-color: black;
}

.fa-solid{
    margin-left: 8px;
    color: red;
}

p{
    font-weight: 900;
    font-size: 80px;
    padding-top: 60px;
    margin-left: 640px;
    color: black;
    font-family: serif;
}

