body{
    background-image: url("backImage.avif");
    background-size: cover;
}

h1{
    margin-left: 600px;
    padding-top: 100px;
    font-weight: 900;
    font-family: Georgia;
}

.container{
    margin-top: 100px;
}

.fa-regular{
    background-color: black;
}

.fa-solid{
    margin-left: 8px;
    color: white;
}

p{
    font-weight: 900;
    font-size: 80px;
    padding-top: 60px;
    margin-left: 640px;
    color: black;
    font-family: serif;
}

